<nav>
  <h1>Halo..</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img width="60%" src="/assets/achmad_photo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>Saya <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>Saat ini mahasiswa <a href="http://cs.upi.edu">di Ilmu Komputer UPI</a>.</p>
    <p>Blog ini berisi tugas, eksperimen, dan keluh kesah yang sempat saya tulis.</p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
